<% content_for :title do %>
  Card e-Binder
<% end %>
<div class="top-main">
  <div class="transparent">
    <div class="introduce" >
      <h1>Card e-Binderへようこそ</h1>
      <i class="fa-regular fa-house"></i>
      <hr>
      <p>カードリストを作成して、あなたの所有しているトレーディングカードを整理しましょう</p>
      <% unless user_signed_in? %>
        <%= link_to "&gt; 新規登録してカードリストを作成する".html_safe, new_user_registration_path, class: 'sign-up', method: :get %>
      <% else %>
        <div class="card-list-buttons">
          <%= link_to "カードリスト作成へ", new_card_list_path, class: 'top-new-card-list' %>
          <%= link_to "カードリスト一覧へ", card_lists_path, class: 'card-lists' %>
        </div>
        <%= link_to "カードを検索する", cards_search_path, class: 'card-search' %>
      <% end %>
    </div>
  </div>
</div>
