body {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .left-menu {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .logo{
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  .right-menu {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
    }

    .log-in {
      background-color: rgb(0, 140, 255);
      padding: 5px;
      border-radius: 5px;
    }

    .sign-up {
      background-color: rgb(135, 135, 137);
      padding: 5px;
      border-radius: 5px;
    }
  }
  
  .log-out {
    background-color: rgb(0, 140, 255);
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
  }
}

.notice {
  background-color: rgb(220, 255, 169);
  margin: 0;
}

.top-main {
  background-image: image-url('top-background.jpg') ;
  background-size: cover;

  .transparent {
    background-color: rgba(92, 77, 66, 0.8) ;
    height: 80vh;

    .introduce {
      color: white;
      width: 50%;
      margin: 0 auto;
      text-align: center;

      h1 {
        margin-top: 0;
        padding-top: 15vh;
        font-size: 3em;
      }

      hr {
        border: 0;
        background-color: rgb(244, 98, 58);
        width: 3.5rem;
        height: 2px;
        margin-bottom: 2em;
      }

      .sign-up {
        background-color: rgb(244, 98, 58);
        padding: 1.25rem 2.25rem;
        border-radius: 10em;
        text-decoration: none;
        color: white;
        margin-top: 2em;
        display: inline-block;
      }
    }
  }
}
